<!--header-->
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="/index.htm"><span class="glyphicon glyphicon-home"></span> Home</a>
            </li>
            <li><a href="/task1.htm">1. Jars Saving</a></li>
            <li><a href="/task2.htm">2. Inspiring Quotes</a></li>
            <li><a href="/task3.htm">3. TV Sales</a></li>
            <li><a href="/task4.htm">4. Zodiac Characteristics</a></li>
        </ul>
    </div>
</nav>
<!--/header-->
<!--contain-->
<div class="container">
    <h1 class="text-center">{{name}} Characteristics</h1>
</div>
<br><br>
<div class="container well span6">
    <div class="row">
        <div class="col-md-4">
            <img src={{imagePath}} class="img-circle">
        </div>

        <div class="col-md-8">
            <h3>{{name}}</h3>
            <h4>Strengths: <small>{{strengths}}</small></h4>
            <h4>Weaknesses: <small>{{weaknesses}}</small></h4>
            <h4>Likes: <small>{{likes}}</small></h4>
            <h4>Dislikes: <small>{{dislikes}}</small></h4>
            <h4><small>{{description}}</small></h4>
        </div>
    </div>
</div>
<!--/contain-->
<!--footer-->
<footer class="container-fluid text-center">
    Copyright &copy; 2020 by 18127044 - Nguyễn Gia Hưng
</footer>
<!--/footer-->